h1 {
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    color: red;
}
#descricao {
    font-style: italic;
    text-align: center;
}
img {
    border-radius: 30%;
    margin: auto;
    display: block;
}
body {
    background-color:black;
    color: aqua;
}
h3 {
    color: red;
}
a {
    color: red;
    font-style: italic;
    letter-spacing: 1px;
}
.sizelist {
    font-size: 18px;
}
.sizelist2 {
    font-size: 22px;
}
.sizelist3 {
    font-size: 26px;
}
.sizelist4 {
    font-size: 30px;
}
.border {
    border: 10px solid aqua;
}